@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
@font-face {
    font-family: Fujimaru;
    src: url(../assets/Fujimaru-Regular.ttf);
}

:root {
    --right-side-margin-left: 3rem;
    --default-text-font-size: 1.25rem;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.banner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 35vw;
    background-image: url(../assets/banner-picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner > div {
    display: flex;
    justify-content: center;
    margin-top: 30%;
    background-color: rgba(255, 255, 255, 0.2);
}

#caption {
    color: white;
    font-family: Fujimaru;
    font-size: 6rem;
}

#photo-credit {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0px;
}

.banner img {
    width: 6rem;
    padding: 10px;
}

.right-side {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 65vw;
    min-height: 100vh;
    background-color: #FFF0F5;
    overflow: auto;
}

.right-side > * {
    margin-bottom: 3rem;
    margin-left: var(--right-side-margin-left);
}

.sign-up-text {
    max-width: 74ch;
    font-size: calc(var(--default-text-font-size) + 0.125rem);
    margin-top: 2rem;
    line-height: 1.6rem;
    text-shadow: 1px 1px 2px pink;
}

.right-side > form {
    margin-left: 0;
}

.form-box {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    background-color: white;
    padding: 1.5rem 10rem 1.5rem var(--right-side-margin-left);;
}

.form-box div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form * {
    font-size: var(--default-text-font-size);
}

form input {
    height: 2rem;
    width: 15rem;
    border-radius: 10px;
    border: 2px solid black;
}

.submit-button {
    margin-left: calc(var(--right-side-margin-left) - 0.5rem);
    margin-top: 1.5rem;
    border-radius: 20px;
    font-size: 1rem;
    width: 16rem;
    height: 3rem;
    background-color: #FFD1DA;
    border: 2px solid black;
    font-size: var(--default-text-font-size);
}

.submit-button:hover {
    background-color: #ffbac8;
}

.submit-button:active {
    background-color: #ffa5b7;
}

#have-account {
    margin-top: -1.5rem;
    font-size: var(--default-text-font-size);
    text-shadow: 1px 1px 2px pink;
}

#have-account > a {
    text-decoration: none;
    color: #ff5882;
}

#have-account > a:hover {
    color: #ff0d4a;
}

.invalid {
    background-color: rgb(255, 166, 166);
}

.valid {
    background-color: rgb(166, 255, 166);
}